<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<!-- <link rel="stylesheet" href="style.css"> -->
		<style>
			* {
				font-family: Arial, Helvetica, sans-serif;
			}

			a {
				text-decoration: none;
			}

			#AccountType {
				text-align: center;
				color: rgb(32, 125, 255);
			}

			.types {
				margin-right: 20%;
				margin-left: 20%;
				display: flex;
				justify-content: space-around;
			}
		</style>
	</head>

	<body>
		<h1 id="AccountType">Choose Account Type</h1>
		<div class="types">
			<a id="Merchant" href="login.html">
				{% load static %}
				<img
					src="{% static 'members/media/merchantimg.jpg'%}"
					alt="home"
			/></a>
			<a id="Customer" href="login.html"
				>{% load static %}
				<img src="{% static 'members/media/customer.jpg'%}" alt="home"
			/></a>
		</div>
		<br />
		<div class="types">
			<span id="merchname">Merchant</span>
			<span id="custname">Customer</span>
		</div>
	</body>
</html>
