* {
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(96, 155, 114);
}

.title {
	font-size: 15vh;
}

header {
	background-color: yellow;
	min-width: 97vw;
	height: 20vh;
	border-radius: 10px;
	margin: 1vh 1.5vw;
	position: sticky;
	top: 1vh;
	text-align: center;
}

.leftbar {
	background-color: rgb(228, 251, 231);
	min-width: 15vw;
	max-width: fit-content;
	height: 76vh;
	border-radius: 10px;
	margin: 1vh 1.5vw;
	position: sticky;
	top: 22vh;
	overflow: auto;
}

.listitem {
	list-style-type: none;
	width: 80%;
	background-color: orange;
	margin: 1vh 2vw;
	border-radius: 50px;
	padding: 10px;
	height: 6vh;
	font-size: 2rem;
	text-align: center;
}

.unorderedlist {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#accountIcon {
	font-size: 19vh;
	margin: 10px;
	background-color: rgb(228, 251, 231);
	color: rgb(96, 155, 114);
	height: 19vh;
}

.loginbutton {
	list-style-type: none;
	/* font-size: 30px; */
	height: 5vh;
	font-size: 5vh;
	background-color: rgb(96, 155, 114);
	color: rgb(228, 251, 231);
	padding: 5px;
	border-radius: 10px;
}
